<h2>Vocabulous</h2>
<form id="login" class="form">
    <div class="control-group">
        <label for="email">Email</label>
        <input name="email" id="email" type="text" class="input-medium" placeholder="email@address.com"/>
    </div>

    <div class="control-group">
        <label for="password">Password</label>
        <input name="password" id="password" type="password" class="input-medium" placeholder="******"/>
    </div>

    <input type="submit" class="btn btn-primary" value="Sign Up"/>
</form>